.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}


/* Follows mouse - Only in menu's*/
.selector {
  width: 32px;
  height: 32px;
  background: url('/selector.png') no-repeat center center;
  background-size: contain;
  filter: brightness(0) invert(1);
}

/* Crosshair in center */
.crosshair {
  width: 32px;
  height: 32px;
  background: url('/crosshair.png') no-repeat center center;
  background-size: contain;
  filter: brightness(0) invert(1);
}

/* Firing animation */
.crosshair.firing {
  animation: rotateReload 0.4s linear;
}

@keyframes rotateReload {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Grab in center */
.grab {
  width: 32px;
  height: 32px;
  background: url('/grab.png') no-repeat center center;
  background-size: contain;
  filter: brightness(0) invert(1);
}
